/* Textos*/
body {
  color: rgb(0, 0, 0);
  background-color: #f6f88c00;
}
body {
  font-family: Georgia, "Sans-serif", Times, serif;
  color: rgb(255, 255, 255);
  background-color: #2c2c2c;
  font-size: x-large;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: rgb(255, 112, 112);
}
h1 {
  text-decoration: underline;
}
h2 {
  text-decoration: underline;
  color: rgb(255, 112, 112);
}
ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 1em 1em;
  text-decoration: none;
  text-decoration: underline;
}

li a:hover {
  background-color: rgb(184, 104, 0);
  text-decoration: underline;
}
li {
  text-decoration-line: underline;
  text-align: left;

  text-decoration: none;
}
